body {
    background: #EEEEEE;
    min-height: 2000px;
    padding-top: 70px;
}
section {
	background: #FFFFFF;
	margin-bottom: 25px;
	padding: 25px;
}
section h2 {
    background: none repeat scroll 0 0 #DFE8F2;
    font-size: 20px;
    margin: -25px -25px 20px;
    padding: 10px;
}